<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/library?characterEncoding=UTF-8">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/nku403/entity/User.hbm.xml</value>
				<value>com/nku403/entity/Book.hbm.xml</value>
				<value>com/nku403/entity/Bookstore.hbm.xml</value>
				<value>com/nku403/entity/Borrow.hbm.xml</value>
				<value>com/nku403/entity/Returning.hbm.xml</value>
				<value>com/nku403/entity/Subscribe.hbm.xml</value>
				<value>com/nku403/entity/Type.hbm.xml</value></list>
		</property></bean>
	<bean id="UserDAO" class="com.nku403.daoimpl.UserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserService" class="com.nku403.serviceimpl.UserServiceImpl">
		<property name="userDAO">
			<ref bean="UserDAO" />
		</property>
	</bean>
	<bean id="BookDAO" class="com.nku403.daoimpl.BookDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"></ref>
		</property>
	</bean>
	<bean id="BookstoreDAO" class="com.nku403.daoimpl.BookstoreDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="BorrowDAO" class="com.nku403.daoimpl.BorrowDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ReturningDAO" class="com.nku403.daoimpl.ReturningDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SubscribeDAO" class="com.nku403.daoimpl.SubscribeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TypeDAO" class="com.nku403.daoimpl.TypeDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TypeService" class="com.nku403.serviceimpl.TypeServiceImpl">
		<property name="typeDAO">
			<ref bean="TypeDAO" />
		</property>
	</bean>
	
	<bean id="BookService" class="com.nku403.serviceimpl.BookServiceImpl">
		<property name="bookDAO">
			<ref bean="BookDAO" />
		</property>
	</bean>
	
	<bean id="BookStoreService" class="com.nku403.serviceimpl.BookStoreServiceImpl">
		<property name="bookStoreDAO">
			<ref bean="BookstoreDAO" />
		</property>
	</bean>
	
	<bean id="BorrowService" class="com.nku403.serviceimpl.BorrowServiceImpl">
		<property name="borrowDAO">
			<ref bean="BorrowDAO" />
		</property>
	</bean>
	
	<bean id="ReturningService" class="com.nku403.serviceimpl.ReturningServiceImpl">
		<property name="returningDAO">
			<ref bean="ReturningDAO" />
		</property>
	</bean>
	</beans>